pkgbase = klink
	pkgdesc = This Chrome extension will share any active tab through Facebook Messenger with one click.
	pkgver = 1.0.0
	pkgrel = 1
	arch = any
	depends = npm>=3.10.8-1
	source = https://github.com/KeNt178/klink
	md5sums = 716f16a9513e5e0f8340136f7dd713c4

pkgname = klink

